@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1100px;
  margin: auto;
}
.header-logo {
  width: 125px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  height: 160px;
  align-items: center;
}
.charis-header-info {
  display: flex;

}
.header-item {
  display: flex;
  align-items: center;
  margin-left: 78px;
}
.header-item-img {
  color: #EF5A1B;
  font-size: 20px;
  width: 62px;
  height: 62px;
  box-shadow: 0px 0px 10px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 18px;
}
.header-links {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.header-links:hover {
  color: #EF5A1B;
}
.button-container{
  position: relative;
  width: fit-content;
}
.header-donate-button {
  background-color: #EF5A1B !important;
  color: white !important;
  border: 2px solid #EF5A1B !important;
  border-color: #EF5A1B !important;
  border-radius: 25px !important;
  font-family: 'Lato', sans-serif !important; 
  padding: 8px 22px !important;
  transition: all 0.2s ease-in-out !important;
}
.header-donate-button:hover {
  background-color: transparent !important;
  color: white !important;
  /* border: 2px solid #EF5A1B !important; */
}
.header-menu-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-menu {
  display: flex;
  align-items: center;
  position: relative;
  height: 61px;
  background-color: #262F36;
  border-bottom: 7px solid #EF5A1B;
}
.header-menu-ul  {
  display: flex;
}
.header-a-li-menu {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-right: 40px;
  transition: all 0.3s ease-in-out;
}
.header-a-li-menu:hover {
  color: #EF5A1B;
}
.header-li-menu {
  list-style: none;
}
.flag {
  width: 30px;
  margin-left: 18px
}
.flags-box {
  display: flex;
  align-items: center;
}
.flags-container {
  display: flex;
  align-items: center;
}
.mobile-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 15px 0;
  
}
.mobile-menu-links-container {
  width: 100%;
  padding: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  transform: translateY(-120%);
  /* max-height: 0; */
  overflow: hidden;
  z-index: 2;
}
.active-mobile-menu {
  transform: translateY(0) !important;
  /* max-height: 100% !important; */
  box-shadow: 0px 6px 20px 0px #d6d6d6;
}
.mobile-menu-link-a {
  text-decoration: none;
  color: black;
}
.hamburger-menu {
  margin-left: 30px;
}
.custom-mob-menu-shadow {
  box-shadow: unset !important;
}
.main-mobile-menu {
  position: relative;
  width: 100%;
  height: 68px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  background-color: white;
  z-index: 8;
}
.mobile-header-logo {
  height: 40px;
}
.right-block {
  display: flex;
  align-items: center;
}
.flags-mobile {
  width: 30px;
  margin-left: 15px;
}
.mobile-menu-item-li {
  list-style: none;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.mobile-button-donate {
  display: block !important;
  margin: auto !important;
  margin-top: 20px !important;
}
.slogan-main {
  width: 100%;
  height: 600px;
  background-image: url(./Images/baner-slogan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slogan-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slogan-text {
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 60px;
}
.slogan-text-span {
  font-size: 32px;
}
.h2-title {
  color: black;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}
.title-line {
  width: 70%;
  height: 3px;
  background-color: #EF5A1B;
  margin: auto;
  margin-top: 3px;
}
.main-title {
  /* display: flex; */
  display: inline-block;
}
.main-title-div {
  text-align: center;
  padding: 30px 0 50px 0;
}
.main-text {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.custom-margin-about-us {
  margin-bottom: 40px;
}
.MuiButtonBase-root {
  position: unset !important;
}
.about-us-main {
  padding-bottom: 80px;
}
/* .about-us-main {
  display: flex;
  justify-content: center;
} */
.about-us-info-text {
  width: 45%;
}
.about-us-info-img {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}
.about-img {
  width: 80%;
  border-radius: 10px;
}
.about-us-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-button {
  background-color: white !important;
  color: #EF5A1B !important;
}
.about-button:hover {
  background-color: #EF5A1B !important;
  color: white !important;
}
.separator-img {
  width: 100%;
  display: block;
  background-image: url(./Images/separator.png);
  /* position: relative; */
  overflow: hidden;
  height: 40px;
}
.uganda-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uganda-info-ol li {
  list-style-position: inside;
  margin-bottom: 5px;
}
.uganda-map-img {
  width: 40%;
}
.uganda-info {
  width: 45%;
}
.uganda-info-ol-title {
  margin-bottom: 7px;
}
.uganda-main {
  padding-bottom: 80px;
  background-color: #F6F4F2;
}
.school-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  color: #5D5D5D;
  margin-bottom: 30px;
}
/* .direct-menu {
  position: fixed;
  top: 0;
  left: 0;
} */
@media only screen and (max-width: 1160px) {
  .sticky-desktop {
    display: none;
  }
  .header-top-test {
    display: none;
  }
  .container {
    width: 90% !important;
  }
  .sticky-mobile {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
@media only screen and (min-width: 1161px) {
  .sticky-mobile {
    display: none;
  }
  
}
.custom-padding-mobile-menu{
  z-index: 100000000000000;
}
/* .custom-padding-mobile-menu {
  padding: 0 !important;
} */
.school-slider-image-first img{
  width: 97.5%;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px #dcdcdc;
}
.school-slider-image-second img{
  width: 90%;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px #dcdcdc;
}
.school-slider-image-first .lazy-load-image-background, .school-slider-image-second{
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-top: 20px;
  
  padding-bottom: 20px;
}
.school-slider-image-first{
  height: 480px;
}
.school-slider-image-second{
  height: 120px;
}
.school-slider-info{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.slider-cta-button{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.progress-school-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.progress-line{
  width: 30%;
}
.progress-line .MuiTypography-root{
  text-align: center !important;
}
.progress-zebrane, .progress-potrzebne{
  text-align: center;
}
.progress-title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.progress-lave{
  color: #EF5A1B;
  font-size: 28px;
  font-weight: bold;
}
.MuiLinearProgress-barColorPrimary{
  background-color: #EF5A1B !important;
}
.MuiLinearProgress-colorPrimary{
  background-color: #ffd8c7 !important;
}
.MuiLinearProgress-root{
  height: 20px !important;
  border-radius: 15px;
}
.MuiTypography-root{
  color: black !important;
  margin-bottom: 15px !important;
  font-weight: 700 !important;
}
.projects-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.alone-project{
  width: 30%;
}
.projects-img-div{
  position: relative;
  overflow: hidden;
  height: 185px;
}
.projects-img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.alone-project{
  border-radius: 15px;
  box-shadow: 0px 0px 8px 3px #e8e7e7;
  margin-bottom: 45px;
}
.projects-info-block{
  padding: 30px 20px;
}
.projects-row{
  margin-top: 100px;
  margin-bottom: 50px;
}
.projects-title{
  font-size: 20;
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 48px;
}
.projects-cel {
  display: flex;
  color: #EF5A1B;
  justify-content: center;
  font-size: 15px;
  margin-top: 10px;
}
.projects-cel span{
  margin-left: 10px;
}
.projects-zebrano {
  display: flex;
  color: #555555;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
.projects-zebrano span{
  margin-left: 10px;
}
.projects-info{
  text-align: center;
  height: 212px;
  margin-bottom: 30px;
}
.projects-cta-button{
  /* text-align: center; */
  margin: auto;
  width: fit-content;
  position: relative;
}
.circle-progress-animation{
  position:  relative;
}
.CircularProgressbar{
  width: 60px !important;
  position: absolute;
  top: -60px;
  left: 117px;
}
.school-button:hover{
  color: black !important;
}

/* .slick-list {
  height: inherit !important;
} */
.facebook-page-component {
  display: flex;
  justify-content: center;
}
.facebook-posts-main {
  margin-bottom: 70px;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: inherit !important;
}
.container-gallery {
  width: 1100px;
  margin: auto;
}
.gallery-component-main {
  margin-bottom: 50px;
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form-input-block {
  width: 42%;
}
.MuiFormControl-marginNormal {
  width: 100%;
}
.container-form {
  width: 800px;
  margin: auto;
}
.MuiInputLabel-outlined {
  font-family: 'Lato', sans-serif;
}
label.Mui-focused {
  color: #EF5A1B !important;
}
.Mui-focused fieldset {
  border-color: #EF5A1B !important;
}
.checkbox-text {
  margin-left: 10px;
  font-size: 14px;
  color: grey;
  font-weight: 500;

}
.checkbox-main {
  display: flex;
  justify-content: flex-end;;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-form-button {
  display: flex;
  justify-content: flex-end;
}
.progress-zebrane {
  width: 35%;
}
.progress-potrzebne {
  width: 35%;
}
.kontakt-main {
  margin-bottom: 50px;
}
.contact-form-btn-ch {
  padding: 8px 50px !important;
}
.footer-main {
  background-color: #262F36;
}
.footer-contant  {
  padding: 70px 0;
}
.footer-contant {
  display: flex;
  justify-content: space-between;
}
.footer-row {
  color: white;
}
.info-footer-contact-row  {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.icon-main {
  font-size: 20px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EF5A1B;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;

}
.footer-title-column {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.contact-info-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}
.contact-info-answer {
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contact-info-answer:hover {
  color: #EF5A1B;
}
.footer-logo {
  margin-top: 40px;
}
.facebook-logo {
  width: 30px;
}
.facebook-like {
  width: 200px;
}
.footer-btn-donate {
  margin-top: 80px;
}
.Modal {
  position: absolute;
  /* top: 140px;
  left: 240px;
  right: 240px;
  bottom: 140px; */
  width: 80%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  z-index: 100000000000000000000000;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.123);
}
.modal-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-relative {
  position: relative;
  display: inline-block;
}
#customized-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#customized-dialog-title .MuiTypography-h6 {
  margin-bottom: 0 !important;
  font-size: 26px !important;
  color: #EF5A1B !important;
}
.popup-title-div {
  display: flex;
  justify-content: space-between;
}
.popup-donate-info {
  display: flex;
  justify-content: space-between;
}
.container-form-popup {
  width: 100%;
}
.popup-donate-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.popup-donate-row {
  width: 42%;
}
.popup-bank {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.popup-numer-rachunku {
  color: #EF5A1B;
  font-weight: 600;
  margin-bottom: 5px;
}
.popup-title-przelewu {
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 40px;
}
.popup-description {
  margin-bottom: 60px;
}
.checkbox-main-popup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
.contact-form-button-popup {
  /* display: flex;
  justify-content: center; */
  margin: auto;
  position: relative;
  width: fit-content;
}
.MuiDialog-paperScrollPaper {
  max-height: 80% !important;
}
.popup-donate-info {
  padding: 20px;
}
.policy-ol, .policy-ul {
  list-style-position: inside;
}
.policy-ol-inside {
  list-style-type: lower-latin;
  margin-left: 20px;
}
.policy-ol-inside-number {
  list-style-type: lower-latin;
  margin-left: 20px;
}
.policy-ul-inside {
  list-style-type: square;
}
.policy-paragraph {
  margin-bottom: 30px;
}
.policy-title {
  margin-bottom: 10px;
}
.policy-li {
  line-height: 22px;
}
.policy-link{
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.policy-link:hover{
  color: #EF5A1B;
}
.heart{
  width: 20px;
  margin-left: 10px;
}
.modal-contant{
  display: flex;
  flex-direction: row;
}
.makeStyles-paper-111{
  border: none !important;
  outline: none;
}